<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProductRegistryKey" value="Software\BlueLink" />
    <add key="BundleUpgradeCode" value="{6B6EB4AB-16E2-4E54-BBBE-556061F7D4A7}" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><probing privatePath="bootstrap" /></assemblyBinding></runtime>
</configuration>
